<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block meta %}{% endblock %}
        <title>{% block title %}Centro de Alumnos de Ingeniería UC{% endblock %}</title>
        {{ include('CaiWebBundle:utils:css_base.html.twig') }}
        {{ include('CaiWebBundle:utils:js_base.html.twig') }}
        <link href="{{ asset('public/css/frontend.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        {{ include('CaiWebBundle:utils:icono.html.twig') }}
    </head>
    <body>
    <div style="width: 100%;height: 100%;position: fixed;z-index:-100">
        <img class="" src="{{ asset('public/images/fondo-2.png') }}">
    </div>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=317044878472789";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="container-fluid cai">
        <div class="pull-right top-nav">
        </div>
    </div>
    <div class="container header" style="background: white">
        <div class="row">
            <div class="col-md-4">
                <div class="row">&nbsp;</div><div class="row">&nbsp;</div>
                <div class="row pull-left">
                    <div class="col-xs-12">
                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle btn btn-default " data-toggle="dropdown"><i class="fa fa-bars"></i> Categorias <strong class="caret"></strong></a>
                            <ul class="dropdown-menu" role="menu">
                                {% for categoria in categorias %}
                                <li>
                                    <a href="{{ path('cai_frontend_noticias', {'categoria':categoria.slug}) }}">{{ categoria }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            &nbsp;
                        </div>

                        <div class="dropdown">
                            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown"><i class="fa fa-search"></i> Buscar<strong class="caret"></strong></a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <form method="get" action="{{ path('cai_frontend_busqueda') }}">
                                        <div class="container-fluid">
                                        <input type="text" name="texto" class="form-control" placeholder="Texto...">
                                        <input type="submit" class="btn btn-primary btn-xs">
                                            </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a href="{{ path('cai_frontend_home') }}"><img src="{{ asset('public/images/Logo-letras-web.png') }}" style="width: 400px" class="img-responsive center-block" /></a>
            </div>
            <div class="col-md-4">
                <div class="row pull-right">
                    <div class="col-xs-12">
                        {% if app.user %}
                        <h4 class="text-right">Hola {{ app.user }} &nbsp;{% if is_granted('ROLE_JEFE_DE_COMISION') %}<a href="{{ path('cai_web_homepage') }}" class="btn btn-default">Backend</a> {% endif %} <a href="{{ path('profile') }}" class="btn btn-default">Ver Perfil</a><a href="{{ path('logout') }}" class="btn btn-danger">Logout</a></h4>
                        {% else %}
                        <a href="{{ path('registro') }}" class="btn btn-default">Registrate</a> &nbsp; &nbsp;
                        <a href="{{ path('login_route') }}" class="btn btn-default">Login</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row pull-right">
                    <div class="col-xs-12">
                        <a href="https://www.facebook.com/{{ contacto.facebook }}/" class="red-social"><i class="fa fa-facebook-square"></i></a>
                        &nbsp;
                        <a href="https://twitter.com/{{ contacto.twitter }}" class="red-social"><i class="fa fa-twitter-square"></i></a>
                        &nbsp;
                        <a href="https://www.instagram.com/{{ contacto.instagram }}/" class="red-social"><i class="fa fa-instagram"></i></a>
                        &nbsp;
                        <a href="https://www.youtube.com/{{ contacto.youtube }}/" class="red-social"><i class="fa fa-youtube-square"></i></a>
                        &nbsp;
                        <a href="https://www.vimeo.com/{{ contacto.vimeo }}/" class="red-social"><i class="fa fa-vimeo"></i></a>
                        &nbsp;
                        <a href="https://www.flickr.com/photos/cai2009/albums" class="red-social"><i class="fa fa-flickr"></i></a>
                        &nbsp;
                        <a href="https://es.wikipedia.org/wiki/Centro_de_Alumnos_de_Ingenier%C3%ADa" class="red-social"><i class="fa fa-wikipedia-w"></i></a>
                        &nbsp;
                        <a href="https://www.linkedin.com/company/centro-de-alumnos-de-ingeniería-uc" class="red-social"><i class="fa fa-linkedin-square"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="background: white">
        <div id="custom-bootstrap-menu" class="navbar navbar-default " role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-menubuilder">
                    <ul class="nav navbar-nav navbar-left">
                        {% include "CaiFrontendBundle:menu:submenu.html.twig" with {'menu':menu} only %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block body %}{% endblock %}
    <br>
    <div class="container footer">
        <div class="row" style="padding: 15px;">
            <div class="col-md-4">
                <h3 class="footer-text">Contáctanos</h3>
                <h4 class="footer-text"><i class="fa icon-phone fa-phone" style="color:#fff"></i>&nbsp {{ contacto.telefono }}</h4>
                <h4 class="footer-text"><i class="fa fa-envelope-o" style="color:#fff"></i>&nbsp {{ contacto.mail }}</h4>
                <h4 class="footer-text"><i class="fa fa-map-marker" style="color:#fff"></i>&nbsp {{ contacto.direccion }}</h4>
            </div>
            <div class="col-md-4">
                <img src="{{ asset('public/images/logo-letras-claras.png') }}" style="width: 400px" class="img-responsive center-block" />
                <hr>
                <p class="footer-text">{{ contacto.descripcion }}</p>
            </div>
            <div class="col-md-4">
                <h3 class="footer-text">Links útiles</h3>
            </div>
        </div>
    </div>
    <script>
        $(function(){
            $(".dropdown-menu > li > a.trigger").on("click",function(e){
                var current=$(this).next();
                var grandparent=$(this).parent().parent();
                if($(this).hasClass('left-caret')||$(this).hasClass('right-caret'))
                    $(this).toggleClass('right-caret left-caret');
                grandparent.find('.left-caret').not(this).toggleClass('right-caret left-caret');
                grandparent.find(".sub-menu:visible").not(current).hide();
                current.toggle();
                e.stopPropagation();
            });
            $(".dropdown-menu > li > a:not(.trigger)").on("click",function(){
                var root=$(this).closest('.dropdown');
                root.find('.left-caret').toggleClass('right-caret left-caret');
                root.find('.sub-menu:visible').hide();
            });
        });

        var pos = $('#custom-bootstrap-menu').position().top;
        $(window).bind('scroll', function () {
            if ($(window).scrollTop() > pos+100) {
                $('#custom-bootstrap-menu').addClass('fixed');
                $('#custom-bootstrap-menu').css('border-radius',0)
            } else {
                $('#custom-bootstrap-menu').removeClass('fixed');
                $('#custom-bootstrap-menu').css('border-radius',50)
            }
        });
    </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
