{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>Clubes</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Foto</th>
                <th>Nombre</th>
                <th>Aprobado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td><a href="{{ path('club_show', { 'id': club.id }) }}">{{ club.id }}</a></td>
                <td><img class="img-responsive" src="{{ asset('uploads/biblioteca/clubes/') ~ club.filename }}"> </td>
                <td>{{ club.nombre }}</td>
                <td>{% if club.aprobado %}Si{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('club_show', { 'id': club.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('club_edit', { 'id': club.id }) }}">Editar</a>
                        </li>
                        <li>
                            <a class="btn btn-default" href="{{ path('club_cambiar_estado', {'id':club.id})}}">{% if club.aprobado %}Rechazar{% else %}Aprobar{% endif %}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('club_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
