{% extends 'base.html.twig' %}

{% block body %}
    <h1>Pagina</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pagina.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ pagina.titulo }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ pagina.slug }}</td>
            </tr>
            <tr>
                <th>Cuerpo</th>
                <td>{{ pagina.cuerpo }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if pagina.fecha %}{{ pagina.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pagina_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pagina_edit', { 'id': pagina.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
