{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>Contacto</h1>
    <table class="table table-bordered table-hover">
        <tbody>
        <tr>
            <th>Lema</th>
            <td>{{ contacto.lema }}</td>
        </tr>
        <tr>
            <th>Direccion</th>
            <td>{{ contacto.direccion }}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{ contacto.telefono }}</td>
        </tr>
        <tr>
            <th>Twitter</th>
            <td>{{ contacto.twitter }}</td>
        </tr>
        <tr>
            <th>Facebook</th>
            <td>{{ contacto.facebook }}</td>
        </tr>
        <tr>
            <th>Youtube</th>
            <td>{{ contacto.youtube }}</td>
        </tr>
        <tr>
            <th>Mail</th>
            <td>{{ contacto.mail }}</td>
        </tr>
        <tr>
            <th>Vimeo</th>
            <td>{{ contacto.vimeo }}</td>
        </tr>
        <tr>
            <th>Descripcion</th>
            <td>{{ contacto.descripcion }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('contacto_edit') }}" class="btn btn-default">Editar</a>
{% endblock %}
