{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>Documentos</h1>

    <div class="pull-right">
            <a class="btn btn-primary" href="{{ path('documento_new') }}">Subir nuevo Documento</a>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Filename</th>
                <th>URL</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for documento in documentos|reverse %}
            <tr>
                <td>{{ documento.filename }}</td>
                <td>
                    <a href="{{ asset('uploads/biblioteca/documentos/') ~ documento.filenamebinary ~ '/' ~ documento.filename ~ '.' ~ documento.extension }}">
                        {{ asset('uploads/biblioteca/documentos/') ~ documento.filenamebinary ~ '/' ~ documento.filename ~ '.' ~ documento.extension }}
                    </a>
                </td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-warning" href="{{ path('documento_edit', { 'id': documento.id }) }}">edit</a>
                        </li>
                        <li>
                            <a class="btn btn-default" href="{{ asset('uploads/biblioteca/documentos/') ~ documento.filenamebinary ~ '/' ~ documento.filename ~ '.' ~ documento.extension }}">Abrir</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

