{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>Documento</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ documento.id }}</td>
            </tr>
            <tr>
                <th>
                    URL
                </th>
                <td>
                    <a href="{{ asset('uploads/biblioteca/documentos/') ~ documento.filenamebinary ~ '/' ~ documento.filenamebinary }}" target="_blank">
                        {{ asset('uploads/biblioteca/documentos/') ~ documento.filenamebinary ~ '/' ~ documento.filenamebinary }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>Filename</th>
                <td>{{ documento.filename }}</td>
            </tr>
            <tr>
                <th>Filenamebinary</th>
                <td>{{ documento.filenamebinary }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('documento_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('documento_edit', { 'id': documento.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
