{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <form method="post">
                <input id="imagenes" type="file" name="imagenes[]" multiple class="upload-input">
            </form>
            <button  id="upload" class="btn btn-default upload-input">Upload</button>
        </div>
        <div class="col-md-9" hidden id="uploading-gif">
            <img src="{{ asset('public/images/uploading.gif') }}" class="img-responsive" style="max-width: 50px;" >
        </div>
    </div>
    <div class="container" id="uploaded-images">
        <h1>Imágenes subidas</h1>
        <div class="row row-uploaded-images"></div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        // Gran parte sacado de
        // http://abandon.ie/notebook/simple-file-uploads-using-jquery-ajax
        var files;
        $('input[type=file]').change(prepareUpload);
        $('#upload').click(uploadFiles);

        function prepareUpload(event)
        {
            files = event.target.files;
        }

        function uploadFiles(event)
        {
            $('.upload-input').prop('disabled', true);
            $('#uploading-gif').show();
            event.stopPropagation(); // Stop stuff happening
            event.preventDefault(); // Totally stop stuff happening

            // START A LOADING SPINNER HERE

            // Create a formdata object and add the files
            var data ;
            $.each(files, function(key, value)
            {
                data = new FormData();
                data.append(key, value);
                $.ajax({
                    url: '{{ path('uploader_upload') }}?files',
                    type: 'POST',
                    data: data,
                    cache: false,
                    dataType: 'json',
                    processData: false, // Don't process the files
                    contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                    success: function(data, textStatus, jqXHR)
                    {
                        if(typeof data.error === 'undefined')
                        {
                            // Success so call function to process the form
                            console.log(data);
                            addImagen(data['imagenes'][0]['filenamebinary'],data['imagenes'][0]['filename'],data['imagenes'][0]['id']);
                            submitForm(event, data);
                        }
                        else
                        {
                            // Handle errors here
                            console.log('ERRORS: ' + data.error);
                        }
                    }
                });
            });

            function submitForm(event, data)
            {
                // Create a jQuery object from the form
                $form = $(event.target);

                // Serialize the form data
                var formData = $form.serialize();

                // You should sterilise the file names
                $.each(data.files, function(key, value)
                {
                    formData = formData + '&filenames[]=' + value;
                });

                $.ajax({
                    url: '{{ path('uploader_upload') }}',
                    type: 'POST',
                    data: formData,
                    cache: false,
                    dataType: 'json',
                    success: function(data, textStatus, jqXHR)
                    {
                        if(typeof data.error === 'undefined')
                        {
                            // Success so call function to process the form
                            console.log('SUCCESS: ' + data.success);
                        }
                        else
                        {
                            // Handle errors here
                            console.log('ERRORS: ' + data.error);
                        }
                    },
                    error: function(jqXHR, textStatus, errorThrown)
                    {
                        // Handle errors here
                        console.log('ERRORS: ' + textStatus);
                    },
                    complete: function()
                    {
                        $('.upload-input').prop('disabled', false);
                        $('#uploading-gif').hide();
                        $('input[type=file]').val('');
                    }
                });
            }
        }

        function addImagen(filenamebinary, filename, id){
            console.log('{{ asset('uploads/biblioteca/imagenes/') }}'+filenamebinary+'/small-'+filename);
            var imagen = $('<img src="{{ asset('uploads/biblioteca/imagenes/') }}'+filenamebinary+'/small-'+filename+'">');
            var direccionamiento = $('<a href="{{ path('imagen_index') }}' + id + '/show"></a>');
            var col_imagen = $('<div class="col-md-3"></div>');
            var row_selected = false;
            while(!row_selected) {
                var rowLength = $('.row-uploaded-images').length;
                var row = $('.row-uploaded-images')[rowLength - 1];
                if ($(row).children().length < 4){
                    row_selected = true
                }else{
                    var newRow = $('<div class="row row-uploaded-images"></div>');
                    $('#uploaded-images').append(newRow);
                    console.log('sadf');
                }
            }
            direccionamiento.append(imagen);
            col_imagen.append(direccionamiento);
            $(row).append(col_imagen);
        }
    </script>
{% endblock %}