{% extends 'CaiWebBundle::base.html.twig' %}

{% block body -%}
    <h1>Sliders</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Titulo</th>
            <th>Time</th>
            <th>Acción</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in sliders %}
            <tr>
                <td>{{ entity.id }}</td>
                <td>{{ entity.titulo }}</td>
                <td>{{ entity.time }} ms</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('slider_show', { 'id': entity.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('slider_edit', { 'id': entity.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('slider_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}