{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>Páginas</h1>
    <ul class="pull-right">
        <li>
            <a class="btn btn-primary" href="{{ path('pagina_new') }}">Crear nueva Página</a>
        </li>
    </ul>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Slug</th>
                <th>Fecha</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pagina in paginas %}
            <tr>
                <td><a href="{{ path('pagina_show', { 'id': pagina.id }) }}">{{ pagina.id }}</a></td>
                <td>{{ pagina.titulo }}</td>
                <td>{{ pagina.slug }}</td>
                <td>{% if pagina.fecha %}{{ pagina.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('pagina_show', { 'id': pagina.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('pagina_edit', { 'id': pagina.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
