<!DOCTYPE html>

<html>
<head lang="es">
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/bootstrap.min.css') }}" >
    <link href="{{ asset('public/css/login.css') }}" rel="stylesheet">
</head>
<body>
<div class="container">
    {% if error %}
        <div class="alert alert-warning">{{ error.messageKey|trans(error.messageData) }}</div>
    {% endif %}
    <form class="form-signin" action="{{ path('login_check') }}" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"
               placeholder="Username" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="Password" required>
        <input type="checkbox" id="remember_me" name="_remember_me" checked />
        <label for="remember_me">Recuerdame</label><br>
        <a class="btn btn-default" href="{{ path('registro') }}">Registrarse</a>
        <a class="btn btn-default" href="{{ path('recover_password') }}">Recuperar Contraseña</a>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>
<script src="{{ asset('public/js/jquery.min.js') }}"></script>
<script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
</body>
<footer>

    <div class="text-center jumbotron">
        <hr>
        Gabriel Ulloa - 2015
    </div>
</footer>
</html>