{% set n = 12 // data.por_fila %}
{% for persona in data.personas %}
    {% if loop.index0  % data.por_fila == 0 %}
        <div class="row">
    {% endif %}

        {% if n == 4 %}
            <div class="col-md-4 {% if loop.index0 % data.por_fila == 0 %}{% if loop.revindex0 == 1 %}col-md-offset-2{% elseif loop.revindex0 == 0 %}col-md-offset-4{% endif %}{% endif %}">
            <div class="row">
                <img class="img-responsive img-rounded center-block" style="max-width: 80%" src="{{ asset('uploads/biblioteca/persona/') ~ persona.filename }}">
            </div>
            <div class="row">
                <div class="pull-left" style="padding-left: 15%">
                    <h4>{{ persona.nombre }}</h4>
                    {% if persona.descripcionCorta %}<h5>{{ persona.descripcionCorta }}</h5>{% endif %}
                    {% if persona.mail %}<h5><i class="fa fa-envelope"></i> {{ persona.mail }}</h5>{% endif %}
                </div>
                <div class="pull-right">
                </div>
            </div>
            {% if persona.descripcion %}
                <div class="row text-justify text-info" style="padding: 15px">
                    {{ persona.descripcion | raw }}
                </div>
            {% endif %}
        {% elseif n == 12 %}
            <div class="col-md-12">
                <div class="row">
                    {% if loop.index0 % 2 == 0 %}
                    <div class="col-md-5">
                        <img class="img-responsive img-rounded center-block" style="max-width: 90%" src="{{ asset('uploads/biblioteca/persona/') ~ persona.filename }}">
                    </div>
                    {% endif %}
                    <div class="col-md-7">
                        <h2 class="text-center">{{ persona.nombre }}</h2>
                        {% if persona.descripcionCorta %}<p class="text-center text-info">{{ persona.descripcionCorta }}</p>{% endif %}
                        {% if persona.descripcion %}
                            <div class="text-justify" style="padding: 15px">
                                {{ persona.descripcion | raw }}
                            </div>
                        {% endif %}
                        <h4>Contáctanos: {% if persona.facebook %}<a href="https://www.facebook.com{{ persona.facebook }}" target="_blank"><i class="fa fa-facebook-square"></i></a> {% endif %}</h4>
                    </div>
                    {% if loop.index0 % 2 != 0 %}
                        <div class="col-md-5">
                            <img class="img-responsive img-rounded center-block" style="max-width: 90%" src="{{ asset('uploads/biblioteca/persona/') ~ persona.filename }}">
                        </div>
                    {% endif %}
                </div>
        {% endif %}
    </div>
    {% if loop.index % data.por_fila == 0 or loop.last %}
        </div>
        <br>
    {% endif %}
{% endfor %}