{% extends 'CaiFrontendBundle::layout.html.twig' %}
{% block meta %}
    <meta property="og:url" content="{{ url('cai_frontend_view',{'slug':entrada.slug}) }}" />
    <meta property="og:title" content="{{ entrada.titulo }}" />
    <meta property="og:image" content="{{ absolute_url( asset('uploads/biblioteca/imagenes/' ~ entrada.imagen.filenamebinary ~ '/' ~ entrada.imagen.filename) ) }}" />
    <meta property="og:description" content="{{ (entrada.cuerpo | raw) | slice(0,200) }}..." />

{% endblock %}
{% block title %}
    {{ entrada.titulo }}
{% endblock %}
{% block content %}
    <img class="center-block img-responsive"  src="{{ asset('uploads/biblioteca/imagenes/' ~ entrada.imagen.filenamebinary ~ '/' ~ entrada.imagen.filename) }}" />
    <h1 class="text-center">{{ entrada.titulo }}</h1>
    <p class="text-right">{{ entrada.user }} ({{ entrada.fecha | date('Y-m-d h:i:s') }})</p>
    <p>
        {{ entrada.cuerpo | raw }}
    </p>

{% endblock %}
