{% set  base = "layout.html.twig" %}
{% if is_mobile_view() or is_tablet_view() or is_mobile() or is_tablet() %}
    {% set base = "base.mob.twig" %}
{% endif %}
{% extends 'CaiFrontendBundle::' ~ base %}
{% block meta %}
    <meta property="og:url" content="{{ url('cai_frontend_entrada',{'slug':entrada.slug}) }}" />
    <meta property="og:title" content="{{ entrada.titulo }}" />
    <meta property="og:image:url" content="{{ absolute_url( asset('uploads/biblioteca/imagenes/' ~ entrada.imagen.filenamebinary ~ '/' ~ entrada.imagen.filename) ) }}" />
    <meta property="og:description" content="{{ entrada.cuerpo  | slice(0,200) | striptags }}{% if entrada.cuerpo | length > 202 %}...{% endif %}" />

{% endblock %}
{% block title %}
    {{ entrada.titulo }}
{% endblock %}
{% block content %}
    <img class="center-block img-responsive"  src="{{ asset('uploads/biblioteca/imagenes/' ~ entrada.imagen.filenamebinary ~ '/' ~ entrada.imagen.filename) }}" />
    <h1 class="text-center">{{ entrada.titulo }}</h1>
    <div>
        {{ entrada.cuerpo | raw }}
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Información de la Publicación</h3>
        </div>
        <div class="panel-body">
            <ul>
                <li><strong>Publicada el</strong>: {{ entrada.fecha|date('d-m-Y') }} a las {{ entrada.fecha|date('H:i') }} horas</li>
                <li>
                    <strong>Categorías</strong>:
                    <ul>
                        {% for categoria in entrada.categorias %}
                        <li>{{ categoria }}</li>
                        {% endfor %}
                    </ul>
                </li>
                <li><strong>Autor</strong>: {{ entrada.user }}</li>

            </ul>
        </div>
    </div>

{% endblock %}
