{% extends 'CaiFrontendBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.news-slider').bxSlider({
                mode: 'vertical',
                minSlides: 2,
                pager: false,
                infiniteLoop: false,
                hideControlOnEnd: true
            });
            $('.slider-slider').bxSlider({
                auto: true,
                pause: {{ principal.time }},
                mode: 'fade',
                pager: false
            });
        })
    </script>
    <script>
        $(document).ready(function() { // document ready
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultDate: '2014-11-12',
                editable: false,
                eventLimit: false, // allow "more" link when too many events
                events: [
                    {
                        title: 'All Day Event',
                        start: '2014-11-01'
                    },
                    {
                        title: 'Long Event',
                        start: '2014-11-07',
                        end: '2014-11-10'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2014-11-09T16:00:00'
                    },
                    {
                        id: 999,
                        title: 'Repeating Event',
                        start: '2014-11-16T16:00:00'
                    },
                    {
                        title: 'Conference',
                        start: '2014-11-11',
                        end: '2014-11-13'
                    },
                    {
                        title: 'Meeting',
                        start: '2014-11-12T10:30:00',
                        end: '2014-11-12T12:30:00'
                    },
                    {
                        title: 'Lunch',
                        start: '2014-11-12T12:00:00'
                    },
                    {
                        title: 'Meeting',
                        start: '2014-11-12T14:30:00'
                    },
                    {
                        title: 'Happy Hour',
                        start: '2014-11-12T17:30:00'
                    },
                    {
                        title: 'Dinner',
                        start: '2014-11-12T20:00:00'
                    },
                    {
                        title: 'Birthday Party',
                        start: '2014-11-13T07:00:00'
                    },
                    {
                        title: 'Click for Google',
                        url: 'http://google.com/',
                        start: '2014-11-28'
                    }
                ]
            });

        });
    </script>
{% endblock %}
{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row">
        <ul class="slider-slider">
            {% for slide in principal.slides %}
                <li>
                    <a href="{{ slide.path }}"><img class="img-responsive" src="{{ asset('uploads/biblioteca/imagenes/' ~ slide.imagen.filenamebinary ~ '/slider-' ~ slide.imagen.filename) }}" /></a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <br><hr>
    <div class="row">
        <h1 class="text-center">Noticias</h1>
        <ul class="news-slider">
            {% set i = 0 %}
            {% for noticia in noticias %}
                {% if i == 0 %}
            <li>
                <div class="row">
                {% endif %}

                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-5">
                                    <img class="img-responsive"  src="{{ asset('uploads/biblioteca/imagenes/' ~ noticia.imagen.filenamebinary ~ '/noticia-' ~ noticia.imagen.filename) }}" />
                                </div>
                                <div class="col-md-6">
                                    <h3><a href="{{ path('cai_frontend_entrada',{slug: noticia.slug}) }}">{{ noticia.titulo }}</a></h3>
                                    <p>{{ noticia.fecha|date('Y-m-d h:i:s') }}</p>
                                </div>
                            </div>
                        </div>
                {% set i = i + 1 %}
                {% if i == 2 %}{% set i = 0 %}
                </div>
            </li>
                {% endif %}
            {% endfor %}
            {% if i == 1 %}
                    </div>
            </li>
            {% endif %}
        </ul>
    </div>
    <p class="pull-right"><a href="{{ path('cai_frontend_noticias') }}">Ver todas</a></p>
    <div class="row ">
        <h1 class="text-center">Calendario</h1>
        <div id="calendar"></div>
    </div>
{% endblock %}