{% set  base = "layout.html.twig" %}
{% if is_mobile_view() or is_tablet_view() or is_mobile() or is_tablet() %}
    {% set base = "base.mob.twig" %}
{% endif %}
{% extends 'CaiFrontendBundle::' ~ base %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function () {
            $('.news-slider').bxSlider({
                mode: 'vertical',
                minSlides: 2,
                pager: false,
                infiniteLoop: false,
                hideControlOnEnd: true
            });
            $('.slider-slider').bxSlider({
                auto: true,
                pause: {{ principal.time }},
                mode: 'fade',
                pager: false
            });
        })
    </script>
    <script>
        $(document).ready(function() { // document ready
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                editable: false,
                selectable: true,
                eventLimit: false, // allow "more" link when too many events
                eventSources: [
                    {
                        url: '{{ path('api_get_events') }}'
                    }
                ],
                eventClick: function(event) {
                    if (event.url) {
                        window.open(event.url);
                        return false;
                    }
                }

            });

        });
    </script>
{% endblock %}
{% block content %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row">
        <ul class="slider-slider">
            {% for slide in principal.slides %}
                <li>
                    <a href="{{ slide.path }}"><img class="center-block" src="{{ asset('uploads/biblioteca/imagenes/' ~ slide.imagen.filenamebinary ~ '/slider-' ~ slide.imagen.filename) }}" /></a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="row">
        <h1 class="text-center">{% if app.user %}Mis {% endif %}Noticias<p style="font-size: 14px" class=""><a href="{{ path('cai_frontend_noticias') }}">Ver todas</a></p></h1>
        {% if is_mobile_view() or is_tablet_view() or is_mobile() or is_tablet() %}
            {% for noticia in noticias %}
                {% if loop.index0  % 2 == 0 %}
                    <div class="row">
                {% endif %}
                <div class="col-md-6" style="padding: 0 0 15px 0">
                    <div class="row">
                        <div class="col-xs-5">
                            <img class="img-responsive center-block"  src="{{ asset('uploads/biblioteca/imagenes/' ~ noticia.imagen.filenamebinary ~ '/noticia-' ~ noticia.imagen.filename) }}" />
                        </div>
                        <div class="col-xs-6">
                            <h3><a href="{{ path('cai_frontend_entrada',{slug: noticia.slug}) }}">{{ noticia.titulo }}</a></h3>
                            <p>{{ noticia.fecha|date('Y-m-d H:i') }}</p>
                        </div>
                    </div>
                </div>
                {% if loop.index % 2 == 0 or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
        <ul class="news-slider">
            {% for noticia in noticias %}
                {% if loop.index0  % 2 == 0 %}
            <li>
                <div class="row" style="padding: 10px">
                {% endif %}
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-xs-5">
                                    <img class="img-responsive center-block"  src="{{ asset('uploads/biblioteca/imagenes/' ~ noticia.imagen.filenamebinary ~ '/noticia-' ~ noticia.imagen.filename) }}" />
                                </div>
                                <div class="col-xs-6">
                                    <h3><a href="{{ path('cai_frontend_entrada',{slug: noticia.slug}) }}">{{ noticia.titulo }}</a></h3>
                                    <p>{{ noticia.fecha|date('Y-m-d H:i') }}</p>
                                </div>
                            </div>
                        </div>
                {% if loop.index % 2 == 0 or loop.last %}
                </div>
            </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    {% if not (is_mobile_view() or is_tablet_view() or is_mobile() or is_tablet()) %}
    <div class="row ">
        <h1 class="text-center">Calendario</h1>
        <div id="calendar"></div>
    </div>
    {% endif %}
{% endblock %}