{% set  base = "layout.html.twig" %}
{% if is_mobile_view() or is_tablet_view() or is_mobile() or is_tablet() %}
    {% set base = "base.mob.twig" %}
{% endif %}
{% extends 'CaiFrontendBundle::' ~ base %}
{#
{% block meta %}
    <meta property="og:url" content="{{ url('cai_frontend_entrada',{'slug':entrada.slug}) }}" />
    <meta property="og:title" content="{{ entrada.titulo }}" />
    <meta property="og:image:url" content="{{ absolute_url( asset('uploads/biblioteca/imagenes/' ~ entrada.imagen.filenamebinary ~ '/' ~ entrada.imagen.filename) ) }}" />
    <meta property="og:description" content="{{ entrada.cuerpo  | slice(0,200) | striptags }}{% if entrada.cuerpo | length > 202 %}...{% endif %}" />

{% endblock %}
#}
{% block title %}
    {{ pagina.titulo }}
{% endblock %}
{% block content %}
    <p>
        {{ pagina.cuerpo | raw }}
    </p>

{% endblock %}
