{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>Categorias</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Etiqueta</th>
            <th>Slug</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.etiqueta }}</td>
                <td>{{ categoria.slug }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('categoria_show', { 'id': categoria.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a href="{{ path('categoria_edit', { 'id': categoria.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categoria_new') }}">
                Crear nueva categoría
            </a>
        </li>
    </ul>
{% endblock %}
