{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>Eventos</h1>
    <div class="pull-right">
        <a class="btn btn-primary" href="{{ path('evento_new') }}">Crear nuevo Evento</a>
    </div>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Fecha Inicio</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evento in eventos|reverse %}
            <tr>
                <td>{{ evento.nombre }}</td>
                <td>{{ evento.descripcion }}</td>
                <td>{% if evento.fechaInicio %}{{ evento.fechaInicio|date('Y-m-d H:i') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-default" href="{{ path('evento_show', { 'id': evento.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a class="btn btn-warning" href="{{ path('evento_edit', { 'id': evento.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
