{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>Evento</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ evento.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ evento.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha Inicio</th>
                <td>{% if evento.fechaInicio %}{{ evento.fechaInicio|date('Y-m-d H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fecha Termino</th>
                <td>{% if evento.fechaFin %}{{ evento.fechaFin|date('Y-m-d H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Lugar</th>
                <td>{{ evento.lugar }}</td>
            </tr>
            <tr>
                <th>Imágen</th>
                <td> <img class="img-responsive" src="
                    {% if evento.imagen %}
                {{ asset('uploads/biblioteca/imagenes/') }}{{ evento.imagen.filenamebinary }}/small-{{ evento.imagen.filename }}
                {% else %}
                {{ asset('public/images/no-foto-800px.png') }}
                {% endif %}
                    " style="max-width: 300px"></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evento_index') }}">Volver</a>
        </li>
        <li>
            <a href="{{ path('evento_edit', { 'id': evento.id }) }}">Editar</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Eliminar">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
