{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>Slide list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Posicion</th>
                <th>Path</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for slide in slides %}
            <tr>
                <td><a href="{{ path('slide_show', { 'id': slide.id }) }}">{{ slide.id }}</a></td>
                <td>{{ slide.posicion }}</td>
                <td>{{ slide.path }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('slide_show', { 'id': slide.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('slide_edit', { 'id': slide.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('slide_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
