{% set  base = "layout-no-sidebar.html.twig" %}
{% if is_mobile_view() or is_tablet_view() or is_mobile() or is_tablet() %}
    {% set base = "base.mob.twig" %}
{% endif %}
{% extends 'CaiFrontendBundle::' ~ base %}

{% block content %}
    <h1 class="text-center">Solicitud {{ ['En Revisión','Rechazada','Por Realizar','Completada'][solicitud.estado] }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titulo</th>
                <td>{{ solicitud.titulo }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{% if solicitud.tipo == 1 %}
                        Macroproyecto
                    {% elseif solicitud.tipo == 2 %}
                        Importante
                    {% elseif solicitud.tipo == 3 %}
                        Media Importancia
                    {% elseif solicitud.tipo == 4 %}
                        No tan Importante
                    {% else %}
                        ERROR
                    {% endif %}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ solicitud.descripcion }}</td>
            </tr>
            <tr>
                <th>Texto</th>
                <td>{{ solicitud.texto }}</td>
            </tr>
            <tr>
                <th>Ideas</th>
                <td>{{ solicitud.ideas }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if solicitud.fecha %}{{ solicitud.fecha|date('Y-m-d') }}{% endif %}</td>
            </tr>
            {% if is_granted('ROLE_COMUNICACIONES') %}
        <tr>

            <th>Acciones</th>
            <td>                    {% if solicitud.estado == 0 %}
                    <a style="width: 100%" class="btn btn-primary" href="{{ path('solicitud_aceptar', { 'id': solicitud.id }) }}">Aceptar</a>
                    <a style="width: 100%" class="btn btn-danger" href="{{ path('solicitud_rechazar', { 'id': solicitud.id }) }}">Rechazar</a>
                {% elseif solicitud.estado == 2 %}
                    <a style="width: 100%" class="btn btn-primary" href="{{ path('solicitud_completar', { 'id': solicitud.id }) }}">Completar</a>
                {% endif %}</td>
        </tr>
        {% endif %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('solicitud_index') }}">Volver</a>
        </li>
        {% if solicitud.estado == 0 %}
        <li>
            <a href="{{ path('solicitud_edit', { 'id': solicitud.id }) }}">Edit</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}
