{% extends 'CaiFrontendBundle::layout.html.twig' %}
{% form_theme form_user with [
            'bootstrap_3_horizontal_layout.html.twig'
    ] %}
{% form_theme form_profile with [
            'bootstrap_3_horizontal_layout.html.twig'
    ] %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        th{
            padding-right: 15px;
            text-align: right;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script>
        function rut(){
            var myString = $(this).val();
            if(myString != "") {
                var isk = false;
                if (myString.substr(-1).toLowerCase() == "k") {
                    isk = true
                }
                myString = myString.replace(/\D/g, '').substr(0, 9);
                if (isk) {
                    myString = myString + "k"
                }
                myString = myString.substr(0, myString.length - 1) + "-" + myString.substr(-1);
                $(this).val(myString);
            }
        }
        function celular(){
            var myString = $(this).val();
            if(myString != "") {
                myString = myString.replace(/\D/g, '').substr(0, 8);
                myString = myString.substr(0, 4) + " " + myString.substr(4);
                $(this).val(myString);
            }
        }
        $("#register_rut").blur(rut);
        $("#register_rut").keyup(rut);
        $("#register_celular").blur(celular);
        $("#register_celular").keyup(celular);

    </script>
{% endblock %}
{% block content %}

    <h1>Registro</h1>
    {{ form_start(form_profile) }}
    {{ form_row(form_user.username, {'attr':{'placeholder':'username'} }) }}
    {{ form_row(form_user.password, {'attr':{'placeholder':'password'} }) }}
    <div class="form-group">
        <label class="col-sm-2 control-label required" for="second_password">Repite tu contraseña</label>
        <div class="col-sm-10">
            <input type="password" id="second_password" name="second_password" required="required" maxlength="255" class="form-control" placeholder="password">
        </div>
    </div>
    {{ form_row(form_profile.nombre, {'attr':{'placeholder':'Nombre'} }) }}
    {{ form_row(form_profile.apellido, {'attr':{'placeholder':'Apellido'} }) }}
    {{ form_row(form_profile.sexo, {'attr':{'placeholder':'Sexo'} }) }}
    {{ form_row(form_profile.mail, {'attr':{'placeholder':'mail@uc.cl - mail@ing.puc.cl'} }) }}
    {{ form_row(form_profile.celular, {'attr':{'placeholder':'9999 9999'} }) }}
    {{ form_row(form_profile.rut, {'attr':{'placeholder':'99999999-9'} }) }}
    {{ form_row(form_profile.file) }}
    {{ form_row(form_user._token) }}
    <input type="submit" value="Registrarme" class="btn btn-primary"/>
    {{ form_end(form_profile) }}

{% endblock %}
