{% extends 'CaiWebBundle::base.html.twig' %}
{% form_theme edit_form with [
'bootstrap_3_horizontal_layout.html.twig'
] %}
{% block body %}
    <h1>Editar Entrada</h1>

    {{ form_start(edit_form) }}
    {{ form_row(edit_form.titulo) }}
    {{ form_row(edit_form.cuerpo) }}
    {{ form_row(edit_form.fecha) }}
    <div class="row form-group" id="0">
        <div class="col-md-4 col-sm-offset-2">
            <div id="slide_0" class="slide_img">
                <img class="img" id="img_slide_0" src="{{ asset('uploads/biblioteca/imagenes/') }}{{ entrada.imagen.filenamebinary }}/small-{{ entrada.imagen.filename }}">
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="img_selector btn btn-primary" id="img_selector_slide_0">Escoger imágen</div>
            </div>
            <input name="img_slide_0" id="img_slide_0" type="hidden" value="image_{{ entrada.imagen.id }}">
        </div>
    </div>
    {{ form_row(edit_form.categorias) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}
    {% include 'CaiWebBundle:ImageSelector:selector.html.twig' %}

    <ul>
        <li>
            <a class="btn btn-default" href="{{ path('entrada_index') }}">Volver</a>
        </li>
        {% if is_granted('ROLE_COMUNICACIONES') and is_granted('ROLE_DIRECTIVA') %}
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        {% endif %}
    </ul>
{% endblock %}
{% block javascripts %}
    {% include 'CaiWebBundle:utils:ckeditor.html.twig' with {'id': 'entrada_cuerpo' } %}
    {% include 'CaiWebBundle:utils:datetimepicker.html.twig' with {'id': 'entrada_fecha' } %}
    <script type="text/javascript" src="{{ asset('public/js/image_selector.js') }}"></script>
    {% include 'CaiWebBundle:utils:scrolling_image_selector.html.twig' %}
{% endblock %}
{% block stylesheets %}
    {% include 'CaiWebBundle:utils:image_selector_css.html.twig' %}
{% endblock %}