{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>Entradas</h1>
    <ul class="pull-right">
        <li>
            <a class="btn btn-primary" href="{{ path('entrada_new') }}">
                Crear nueva Entrada
            </a>
        </li>
    </ul>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ knp_pagination_sortable(entradas, 'Titulo', 'entrada.titulo') }}</th>
            <th>Imágen</th>
            <th>{{ knp_pagination_sortable(entradas, 'Autor', 'entrada.user') }}</th>
            <th>Categorías</th>
            <th>{{ knp_pagination_sortable(entradas, 'Fecha publicacion', 'entrada.fecha') }}</th>
            <th>Publicado</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entrada in entradas %}
            <tr>
                <td>{{ entrada.titulo }}</td>
                <td>{% if entrada.imagen is not null %}<img src="{{ asset('uploads/biblioteca/imagenes/') }}{{ entrada.imagen.filenamebinary }}/noticia-{{ entrada.imagen.filename }}">{% endif %}</td>
                <td>{{ entrada.user }}</td>
                <td>
                    <ul>
                        {% for categoria in entrada.categorias %}
                            <li>{{ categoria }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{% if entrada.fecha %}{{ entrada.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{{ entrada.publico == 1 ? 'Si' : 'No' }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-default" href="{{ path('entrada_show', { 'id': entrada.id }) }}">Ver</a>
                        </li>
                        <li>
                            <a class="btn btn-warning" href="{{ path('entrada_edit', { 'id': entrada.id }) }}">Editar</a>
                        </li>
                        {% if is_granted('ROLE_COMUNICACIONES') and is_granted('ROLE_DIRECTIVA') %}
                            <li>
                                <a class="btn btn-{{ entrada.publico == 1 ? "danger" : "primary" }}" href="{{ path('entrada_public', {'id':entrada.id }) }}">{{ entrada.publico == 1 ? "Ocultar" : "Publicar" }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        {{ knp_pagination_render(entradas) }}
    </div>

{% endblock %}