{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>Entradas</h1>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Titulo</th>
            <th>Imágen</th>
            <th>Autor</th>
            <th>Categorías</th>
            <th>Fecha publicación</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entrada in entradas %}
            <tr>
                <td>{{ entrada.titulo }}</td>
                <td>{% if entrada.imagen is not null %}<img src="{{ asset('uploads/biblioteca/imagenes/') }}{{ entrada.imagen.filenamebinary }}/small-{{ entrada.imagen.filename }}">{% endif %}</td>
                <td>{{ entrada.user }}</td>
                <td>
                    <ul>
                        {% for categoria in entrada.categorias %}
                            <li>{{ categoria }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{% if entrada.fecha %}{{ entrada.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('entrada_show', { 'id': entrada.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('entrada_edit', { 'id': entrada.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('entrada_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}