{% extends 'CaiWebBundle::base.html.twig' %}
{% form_theme form with [
'bootstrap_3_horizontal_layout.html.twig'
] %}

{% block body -%}
    <h1>Crear Entrada</h1>

    {{ form_start(form) }}
    {{ form_row(form.titulo) }}
    {{ form_row(form.cuerpo) }}
    {{ form_row(form.fecha) }}
    <div class="row form-group" id="0">
        <div class="col-md-4 col-sm-offset-2">
            <div id="slide_0" class="slide_img">
                <img class="img" id="img_slide_0" src="{{ asset('public/images/no-foto-800px.png') }}" >
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="img_selector btn btn-primary" id="img_selector_slide_0">Escoger imágen</div>
            </div>
            <input name="img_slide_0" id="img_slide_0" type="hidden">
        </div>
    </div>
    {{ form_row(form.categorias) }}
    <input type="submit" value="Crear" />
    {{ form_end(form) }}

    {% include 'CaiWebBundle:ImageSelector:selector.html.twig' %}
    <ul class="record_actions">
        <li>
            <a href="{{ path('entrada_index') }}">
                Volver
            </a>
        </li>
    </ul>
{% endblock %}
{% block stylesheets %}
    {% include 'CaiWebBundle:utils:image_selector_css.html.twig' %}
{% endblock %}
{% block javascripts %}
    {% include 'CaiWebBundle:utils:ckeditor.html.twig' with {'id': 'entrada_cuerpo' } %}
    {% include 'CaiWebBundle:utils:datetimepicker.html.twig' with {'id': 'entrada_fecha' } %}
    <script type="text/javascript" src="{{ asset('public/js/image_selector.js') }}"></script>
    {% include 'CaiWebBundle:utils:scrolling_image_selector.html.twig' %}
{% endblock %}