{% extends 'CaiWebBundle::base.html.twig' %}
{% block body -%}
    {% if entrada.imagen is not null %}<img class="center-block" src="{{ asset('uploads/biblioteca/imagenes/') }}{{ entrada.imagen.filenamebinary }}/{{ entrada.imagen.filename }}">{% endif %}
    <h1 class="text-center">{{ entrada.titulo }}</h1>
    <div class="container-fluid">
        {{ entrada.cuerpo | raw }}
    </div>

    <hr>
    <ul>
        <li><strong>Fecha</strong>: {{ entrada.fecha|date('Y-m-d H:i') }}</li>
    </ul>

    <ul class="record_actions">
        <li>
            <a href="{{ path('entrada_index') }}">
                Volver
            </a>
        </li>
        <li>
            <a href="{{ path('entrada_edit', { 'id': entrada.id }) }}">
                Edit
            </a>
        </li>
    {% if is_granted('ROLE_COMUNICACIONES') and is_granted('ROLE_DIRECTIVA') %}
        <li>{{ form(delete_form) }}</li>
        {% endif %}
    </ul>
{% endblock %}