{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ user }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Activo</th>
                <td>{{ user.active ? "Si" : "No" }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ user.profile.mail }}</td>
            </tr>
            <tr>
                <th>Celular</th>
                <td>{{ user.profile.celular }}</td>
            </tr>
            <tr>
                <th>RUT</th>
                <td>{{ user.profile.rut }}</td>
            </tr>
            <tr>
                <th>Sexo</th>
                <td>{{ user.profile.sexo }}</td>
            </tr>
            <tr>
                <th>Foto</th>
                {% if user.profile.filename is not null %}{% set image = asset('uploads/biblioteca/profile/') ~ user.profile.filename %}
                {% else %}{% set image = asset('public/images/no-foto-profile.png') %}{% endif %}
                <td><img class="img-responsive img-circle" src="{{ image }}"> </td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    <ul>
                        {% for role in user.roles %}
                        <li>{{ role }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
