<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CAi - Backend{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('public/font-awesome-4.5.0/css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('public/bootstrap-3.3.6/css/bootstrap.css') }}" >
    {% block stylesheets %}{% endblock %}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('public/icon/apple-icon-57x57.png') }}" >
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('public/icon/apple-icon-60x60.png')  }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('public/icon/apple-icon-72x72.png')}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('public/icon/apple-icon-76x76.png')}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('public/icon/apple-icon-114x114.png')}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('public/icon/apple-icon-120x120.png')}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('public/icon/apple-icon-144x144.png')}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('public/icon/apple-icon-152x152.png')}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('public/icon/apple-icon-180x180.png')}}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{ asset('public/icon/android-icon-192x192.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('public/icon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('public/icon/favicon-96x96.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('public/icon/favicon-16x16.png')}}">
    <link rel="manifest" href="{{ asset('public/icon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('public/icon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/x-icon" href="{{ asset('public/icon/favicon.ico') }}" />
    <script src="{{ asset('public/js/jquery.min.js') }}"></script>
    <script src="{{ asset('public/bootstrap-3.3.6/js/bootstrap.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('public/css/sb-admin.css') }}"/>
    {#
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    #}
</head>
<body>
<div id="wrapper">
    {% set tab = app.request.attributes.get('_route') %}

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('cai_web_homepage') }}">
                <img class="logotipo" src="{{ asset('public/images/CAi.png') }}">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <br/><br/>
                <li {{ tab == 'cai_web_homepage' ? 'class="active"' : '' }}>
                    <a href="{{ path('cai_web_homepage') }}"><i class="fa fa-home fa-fw"></i> Home</a>
                </li>

                <li {{ tab == 'imagen_index' ? 'class="active"' : '' }}>
                    <a href="{{ path('imagen_index') }}"><i class="fa fa-photo fa-fw"></i> Imágenes</a>
                </li>
                <li {{ tab == 'entrada_index' ? 'class="active"' : '' }}>
                    <a href="{{ path('entrada_index') }}"><i class="fa fa-file-text fa-fw"></i> Entradas</a>
                </li>
                <li {{ tab == 'pagina_index' ? 'class="active"' : '' }}>
                    <a href="{{ path('pagina_index') }}"><i class="fa fa-file fa-fw"></i> Páginas</a>
                </li>
                {% if is_granted('ROLE_EDITOR') %}
                <li {{ tab == 'menu_index' ? 'class="active"' : '' }}>
                    <a href="{{ path('menu_index') }}"><i class="fa fa-list fa-fw"></i> Menu</a>
                </li>
                <li {{ tab == 'tipo_index' ? 'class="active"' : '' }}>
                    <a href="{{ path('tipo_index') }}"><i class="fa fa-bookmark fa-fw"></i> Tipo</a>
                </li>
                <li {{ tab == 'persona_index' ? 'class="active"' : '' }}>
                    <a href="{{ path('persona_index') }}"><i class="fa fa-user fa-fw"></i> Personas</a>
                </li>
                <li {{ tab == 'slider_index' ? 'class="active"' : '' }}>
                    <a href="{{ path('slider_index') }}"><i class="fa fa-book fa-fw"></i> Slider</a>
                </li>
                <li {{ tab == 'contacto_index' ? 'class="active"' : '' }}>
                    <a href="{{ path('contacto_index') }}"><i class="fa fa-info-circle fa-fw"></i> Contacto</a>
                </li>
                <li {{ tab == 'evento_index' ? 'class="active"' : '' }}>
                    <a href="{{ path('evento_index') }}"><i class="fa fa-calendar fa-fw"></i> Eventos</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li {{ tab == 'user_index' ? 'class="active"' : '' }}>
                    <a href="{{ path('user_index') }}"><i class="fa fa-user-plus fa-fw"></i> User</a>
                </li>
                <li {{ tab == 'categoria_index' ? 'class="active"' : '' }}>
                    <a href="{{ path('categoria_index') }}"><i class="fa fa-list-alt fa-fw"></i> Categoria</a>
                </li>
                <li {{ tab == 'cai_clubes_homepage' ? 'class="active"' : '' }}>
                    <a href="{{ path('cai_clubes_homepage') }}"><i class="fa fa-list-alt fa-fw"></i> Clubes</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li {{ tab == 'role_index' ? 'class="active"' : '' }}>
                    <a href="{{ path('role_index') }}"><i class="fa fa-home fa-fw"></i> Role</a>
                </li>
                {% endif %}

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-key"></i>
                        Acceso:
                        {% for rol in app.user.roles %}
                            [ {{ rol }} ]
                        {% endfor %}
                        | <i class="fa fa-user"></i> {{ app.user.username|upper }}<b class="caret"></b>&nbsp;&nbsp;
                    </a>
                    <ul class="dropdown-menu">
                        {#
                        {% if(app.user.id is defined) %}
                            <li {{ route_active(tab, 'profile') ? 'class="active"' : '' }}>
                                <a href="{{ path('profile', { firstname: app.user.firstname, lastname: app.user.lastname }) }}"><i class="fa fa-user fa-fw"></i> Mi Perfil</a>
                            </li>
                        {% endif %}
                        #}
                        <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="page-wrapper" class="container">
        {% block body %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
</div>

{% block javascripts %}
    {#{{ include('SciBackendBundle:includes:scripts.html.twig') }}#}
{% endblock %}
</body>
</html>
