{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>Imagen</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ imagen.id }}</td>
        </tr>
        <tr>
            <th>Filename</th>
            <td>{{ imagen.filename }}</td>
        </tr>
        <tr>
            <th>Auspicio</th>
            <td>
                <a target="_blank" href="{{ asset('uploads/biblioteca/imagenes/') }}{{ imagen.filenamebinary }}/auspicio-{{ imagen.filename }}" ><img src="{{ asset('uploads/biblioteca/imagenes/') }}{{ imagen.filenamebinary }}/auspicio-{{ imagen.filename }}"></a>
            </td>
        </tr>
        <tr>
            <th>Noticia</th>
            <td>
                <a target="_blank" href="{{ asset('uploads/biblioteca/imagenes/') }}{{ imagen.filenamebinary }}/noticia-{{ imagen.filename }}" ><img src="{{ asset('uploads/biblioteca/imagenes/') }}{{ imagen.filenamebinary }}/noticia-{{ imagen.filename }}"></a>
            </td>
        </tr>
        <tr>
            <th>Small</th>
            <td>
                <a target="_blank" href=" {{ asset('uploads/biblioteca/imagenes/') }}{{ imagen.filenamebinary }}/small-{{ imagen.filename }}"><img src="{{ asset('uploads/biblioteca/imagenes/') }}{{ imagen.filenamebinary }}/small-{{ imagen.filename }}"></a>
            </td>
        </tr>
        <tr>
            <th>Slider</th>
            <td>
                <a target="_blank" href="{{ asset('uploads/biblioteca/imagenes/') }}{{ imagen.filenamebinary }}/slider-{{ imagen.filename }}" ><img src="{{ asset('uploads/biblioteca/imagenes/') }}{{ imagen.filenamebinary }}/slider-{{ imagen.filename }}"></a>
            </td>
        </tr>

        <tr>
            <th>Original</th>
            <td>
                <a target="_blank" href="{{ asset('uploads/biblioteca/imagenes/') }}{{ imagen.filenamebinary }}/{{ imagen.filename }}"> <img src="{{ asset('uploads/biblioteca/imagenes/') }}{{ imagen.filenamebinary }}/{{ imagen.filename }}"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('imagen_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
