{% extends 'CaiWebBundle::base.html.twig' %}

{% block body %}
    <h1>Seguimiento</h1>
    <table class="table">
        <tr>
            <th></th>
            <th>Visitas</th>
        </tr>
        <tr>
            <th>Inicio</th>
            <td>{{ info['inicio'] }}</td>
        </tr>
        <tr>
            <th><a href="{{ path('seguimiento_entradas') }}">Entradas</a></th>
            <td>{{ info['entrada'] }}</td>
        </tr>
        <tr>
            <th><a href="{{ path('seguimiento_paginas') }}">Paginas</a></th>
            <td>{{ info['pagina'] }}</td>
        </tr>
        <tr>
            <th><a href="#">Noticias</a></th>
            <td>{{ info['noticias'] }}</td>
        </tr>
        <tr>
            <th><a href="#">Busqueda</a></th>
            <td>{{ info['buscar'] }}</td>
        </tr>
        <tr>
            <th>Total</th>
            <td>{{ total }}</td>
        </tr>
    </table>
{% endblock %}