{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recuperar Contraseña</h1>

    {{ form_start(form_mail) }}
    {{ form_row(form_mail.mail) }}
    <input type="submit" value="Create" />
    {{ form_end(form_mail) }}
    {{ form_start(form_rut) }}
    {{ form_row(form_rut.rut) }}
    <input type="submit" value="Create" />
    {{ form_end(form_rut) }}
{% endblock %}
